<div class="todo-card" [ngClass]="{'todo-card-is-done':todo.est_fini}">
  <h1> Todo {{todo.id}} : {{todo.titre | titlecase}}</h1>
  <h2>{{todo.description}}</h2>
  <p>
    Todo créé le  {{todo.date_creation | date:'d MMMM YYYY , à HH:mm'}}
  </p>
  @if(todo.date_modification){
      <p>
        Todo Modifié  le {{todo.date_modification | date : 'd MMMM YYYY , à HH:mm'}}
      </p>
  }
  <p>Status : {{todo.est_fini?'Fini':'Commencé'}}</p>
  <button (click)="OnChangeStatut()"  [ngStyle]="{'background-color' : todo.est_fini ? 'cyan':'purple' }">{{button_text}} </button>

</div>
