<div class="about-container">
  <div class="about-content">
    <p>
      This Application is made in Angular By Harlequelrah .
      It is January 2025, and I am in my bachelor's year.
      After following some Angular course on Openclassrom , I need to perform my skill by doing myself an app in Angular
      .
      So I'm doing a Todo APP .
    </p>
    <p>
      In this app i'm using SCSS and TypeScript . I'm also interact with a backend server in ElrahAPI based on FASTAPI .
      Here is the Angular APP repository <a href="https://github.com/Harlequelrah/angular-todolist">Angular TodoList</a>
      .
      And there is The ElrahAPI backend APP repository <a
        href="https://github.com/Harlequelrah/fastapi_todolist">ElrahAPI TodoList</a>
    </p>
  </div>
</div>
