.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s;

    .about-content {

        padding: 10px 10px;
        font-size: 20px;
        font-weight: 500;
        margin: 100px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        width: 450px;
        height: auto;
        color: rgba(0, 0, 0, .8);
        box-shadow: 4px 0 4px rgba(0, 0, 0, 0.5);
        a{
            text-decoration:none;
            color:lightgrey;
            border:1px solid black;
            &:hover{
                text-decoration:underline;
                color:#666;
            }
        }

        &:hover {
            transform: translateY(-5px);
        }
    }
}
