<div class="todo-container">
<div class="todo-card" *ngIf="todo$ | async as todo">
  <h1> Todo {{todo.id}} : {{todo.titre | titlecase}}</h1>
  <h2>{{todo.description}}</h2>
  <p>
    Todo créé le {{todo.date_creation | date:'d MMMM YYYY , à HH:mm'}}
  </p>
  @if(todo.date_modification){
  <p>
    Todo Modifié le {{todo.date_modification | date : 'd MMMM YYYY , à HH:mm'}}
  </p>
  }
  <p>Status : {{todo.est_fini?'Fini':'Commencé'}}</p>
  <button
    [ngStyle]="{'background-color' : todo.est_fini ? 'lightgreen':'red' }">{{todo.est_fini? 'Commencé' : 'Fini'}}
  </button>

</div>

</div>
